.App {

}

.filemanager .top-left, .filemanager .top-right {
  height: 400px;
}

.filemanager {
  position: relative;
}
.filemanager .files-list {
  max-height: 370px;
}
.filemanager h2 {
  margin-bottom: 20px;
}

.logs-container {
  margin-top: 10px;
}
.logs-container .logs-content {
  height: 300px;
  padding-top: 20px;
}
.logs-container .area {
  margin: 0 auto;
  height: 300px;
}

.process-files {
  margin-bottom: 20px;
}
.dropzone {
  width: 100%;
}
.dropzone p {
  text-align: center;
}
.dropzone button.upload-file {
  position: absolute;
  top: calc(50%);
  left: calc(50% - 40px);
}
.dropzone > div {
  position: relative;
  width: calc(100% - 50px) !important;
  height: 200px !important;
  padding: 20px;
  margin-bottom: 20px;
}


.logs-list button a {
  text-decoration: none;
  color: #fff;
}
.logs-list button {
  margin-left: 10px;
  margin-bottom: 20px;
}
