.appBar {
  position: relative;
}
.flex {
  flex: 1;
}

.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}

.appBar img {
  margin-right: 20px;
}

.dialogContent {
  margin-top: 100px;
}
.progress {
  position: absolute;
  z-index: 1;
  top: calc(50% - 68px);
  left: calc(50% - 68px);
}

.filemanager .top-left, .filemanager .top-right {
  height: 400px;
}

.filemanager {
  position: relative;
}
.filemanager .files-list {
  max-height: 370px;
}
.filemanager h2 {
  margin-bottom: 20px;
}

.logs-container {
  margin-top: 10px;
}
.logs-container .logs-content {
  height: 300px;
  padding-top: 20px;
}
.logs-container .area {
  margin: 0 auto;
  height: 300px;
}

.process-files {
  position: absolute !important;
  bottom:0;
  margin-bottom: 20px;
}
.dropzone {
  position: relative;
  width: 100%;
}
.dropzone p {
  text-align: center;
}
.dropzone button.upload-file {
  position: absolute;
  top: calc(50%);
  left: calc(50% - 40px);
}

.upload-file-form {
  position: relative;
}
.upload-file-form > div {
  border: none !important;
  width: 100% !important;
  height: 380px !important;
}

.csv-mapping-field-label {
  margin-top: 20px;
}


.logs-list button a {
  text-decoration: none;
  color: #fff;
}
.logs-list button {
  margin-left: 10px;
  margin-bottom: 20px;
}
